.match{
	margin-left: 15px;
	margin-top: 8px;
}

.sign-up-card{
}

.card{
	max-width: 500px;
	
}

.card-body{
		background-color: aqua;
	
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.navbar{
	padding-top: 20px;
}

.display-players{
	padding-top:20px;
	background-color: red;
}